##########################
# Eclise/Java Dev Ignore #
##########################

.metadata/
bin/
.settings/
.classpath
build/
classes/
IdoniaBackend/WebContent/META-INF/context.xml
.idea

#########################
#      OS X Ignore      #
#########################
.DS_Store