<web-app version="3.0">
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"> 
  <!-- In Tomcat 7 and other servlet 3.0 containers, you can use @WebServlet("/urlPattern") in
       the Java source code instead of using the servlet and servlet-mapping tags here.
       In fact, the ENTIRE web.xml file can be totally omitted with servlets 3.0. But, I put
       a small one here for two reasons. First, to show that you can still define URL patterns
       the old way. Second, because when you make a new Dynamic Web Project in Eclipse 
       using the Tomcat 7 configuration, Eclipse totally omits the web.xml file, and has no option
       to insert it for you. So, already having a small web.xml with the legal syntax is helpful 
       in case you want to use some of the standard web.xml entries instead of annotations.
       
       More details: 
         - Tomcat 7 and Eclipse tutorial: http://www.coreservlets.com/Apache-Tomcat-Tutorial/tomcat-7-with-eclipse.html
         - Servlet and JSP programming tutorials: http://courses.coreservlets.com/Course-Materials/csajsp2.html
  -->
  
  <!-- Use the URL http://hostName/appName/test2 for
       testPackage.TestServlet -->

    <!--<filter>-->
        <!--<filter-name>RedirectFilter</filter-name>-->
        <!--<filter-class>com.cboxgames.idonia.backend.commons.filters.RedirectFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>RedirectFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

  <!-- authentication Filter, excludes "/users/sign_in" -->

  <!--<filter>-->
      <!--<filter-name>AuthenticationFilter</filter-name>-->
      <!--<filter-class>com.cboxgames.idonia.backend.commons.filters.AuthenticationFilter</filter-class>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
      <!--<filter-name>AuthenticationFilter</filter-name>-->
      <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->
 
  <!--
  <listener>
    <listener-class>
     com.cboxgames.idonia.backend.listener.DefaultValueTableInitListener
    </listener-class>
  </listener>
 -->

  <!--<listener>-->
      <!--<listener-class>com.cboxgames.idonia.backend.listener.APNS.APNSListenerConfig</listener-class>-->
  <!--</listener>-->
  
  <listener>
    <listener-class>
  	  com.cboxgames.idonia.backend.listener.LoggerInit
    </listener-class>
  </listener>

    <listener>
        <listener-class>
            com.tokbox.listener.OAuthListener
        </listener-class>
    </listener>

    <!--<listener>-->
        <!--<listener-class>-->
            <!--com.tokbox.listener.GraphDBListener-->
        <!--</listener-class>-->
    <!--</listener>-->



  <servlet>
      <servlet-name>UserHttpServlet</servlet-name>
      <servlet-class>com.tokbox.UserHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>UserHttpServlet</servlet-name>
      <url-pattern>/users</url-pattern>
      <url-pattern>/users/*</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>HelloWorldTest</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.HelloWorldTest</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>HelloWorldTest</servlet-name>
    <url-pattern>/helloworldtest</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>AccessoryHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.AccessoryHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessoryHttpServlet</servlet-name>
    <url-pattern>/accessories/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccessorySkillHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.AccessorySkillHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessorySkillHttpServlet</servlet-name>
    <url-pattern>/accessory_skills/details</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>AccessorySkillEffectHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.AccessorySkillEffectHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessorySkillEffectHttpServlet</servlet-name>
    <url-pattern>/accessory_skill_effects/details</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>AchievementHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.AchievementHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AchievementHttpServlet</servlet-name>
    <url-pattern>/achievements/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CharacterHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.CharacterHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CharacterHttpServlet</servlet-name>
    <url-pattern>/characters/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ItemSetHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.ItemSetHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemSetHttpServlet</servlet-name>
    <url-pattern>/item_sets/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MobHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.MobHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobHttpServlet</servlet-name>
    <url-pattern>/mobs/details</url-pattern>
    <url-pattern>/mobs/create_all</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MobSkillHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.MobSkillHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobSkillHttpServlet</servlet-name>
    <url-pattern>/mob_skills/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MobSkillEffectHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.MobSkillEffectHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobSkillEffectHttpServlet</servlet-name>
    <url-pattern>/mob_skill_effects/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NodeServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.NodeHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NodeServlet</servlet-name>
    <url-pattern>/nodes/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaylistHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.PlaylistHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaylistHttpServlet</servlet-name>
    <url-pattern>/playlists/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchaseHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.PurchaseHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseHttpServlet</servlet-name>
    <url-pattern>/purchases/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SkillHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.SkillHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SkillHttpServlet</servlet-name>
    <url-pattern>/skills/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SkillEffectHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.SkillEffectHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SkillEffectHttpServlet</servlet-name>
    <url-pattern>/skill_effects/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SoulsHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.SoulsHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SoulsHttpServlet</servlet-name>
    <url-pattern>/souls/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TutorialHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.TutorialHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TutorialHttpServlet</servlet-name>
    <url-pattern>/tutorials</url-pattern>
    <url-pattern>/tutorials/*</url-pattern>
  </servlet-mapping>
  <!--<servlet>-->
    <!--<servlet-name>UserHttpServlet</servlet-name>-->
    <!--<servlet-class>com.cboxgames.idonia.backend.UserHttpServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>UserHttpServlet</servlet-name>-->
    <!--<url-pattern>/users</url-pattern>-->
    <!--<url-pattern>/users/*</url-pattern>-->
  <!--</servlet-mapping>-->
  <servlet>
    <servlet-name>UserAccessoriesHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.UserAccessoriesHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccessoriesHttpServlet</servlet-name>
    <url-pattern>/user_accessories/shop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAchievementHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.UserAchievementHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAchievementHttpServlet</servlet-name>
    <url-pattern>/user_achievements</url-pattern>
    <url-pattern>/user_achievements/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCharacterHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.UserCharacterHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCharacterHttpServlet</servlet-name>
    <url-pattern>/user_characters/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCharacterAccessoryHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.UserCharacterAccessoryHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCharacterAccessoryHttpServlet</servlet-name>
    <url-pattern>/user_character_accessories</url-pattern>
    <url-pattern>/user_character_accessories/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCharacterSkillHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.UserCharacterSkillHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCharacterSkillHttpServlet</servlet-name>
    <url-pattern>/user_character_skills/buy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserNodeHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.UserNodeHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserNodeHttpServlet</servlet-name>
    <url-pattern>/user_nodes</url-pattern>
    <url-pattern>/user_nodes/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserPlaylistHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.UserPlaylistHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPlaylistHttpServlet</servlet-name>
    <url-pattern>/user_playlists</url-pattern>
    <url-pattern>/user_playlists/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserPotionHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.UserPotionHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPotionHttpServlet</servlet-name>
    <url-pattern>/user_potions</url-pattern>
    <url-pattern>/user_potions/*</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UserSoulHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.UserSoulHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSoulHttpServlet</servlet-name>
    <url-pattern>/user_souls</url-pattern>
    <url-pattern>/user_souls/*</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>UserQuestHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.UserQuestHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserQuestHttpServlet</servlet-name>
    <url-pattern>/user_quests</url-pattern>
    <url-pattern>/user_quests/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserTutorialHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.UserTutorialHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTutorialHttpServlet</servlet-name>
    <url-pattern>/user_tutorials</url-pattern>
    <url-pattern>/user_tutorials/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VersionHttpServlet</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.VersionHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VersionHttpServlet</servlet-name>
    <url-pattern>/versions/details</url-pattern>
  </servlet-mapping> 
  <!--<servlet>-->
    <!--<servlet-name>StaticTableHttpServlet</servlet-name>-->
    <!--<servlet-class>com.cboxgames.idonia.backend.StaticTableHttpServlet</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>StaticTableHttpServlet</servlet-name>-->
    <!--<url-pattern>/tables</url-pattern>-->
  <!--</servlet-mapping>-->
  <servlet>
    <servlet-name>DatabaseServletTest</servlet-name>
    <servlet-class>com.cboxgames.idonia.backend.DatabaseServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseServletTest</servlet-name>
    <url-pattern>/dbtest</url-pattern>
  </servlet-mapping>
</web-app>